@model GestaoGrupoMusicalWeb.Models.EventoViewModel
@{
    ViewData["Title"] = "Novo Evento";
    ViewData["Evento"] = "Evento";
    ViewData["Create"] = "Novo";
}

<div class="row">

    <div class="col-md-10 col-lg-6">
        <h1 class="p-3 bg-danger  bg-opacity-75 text-white fs-5">@ViewData["Title"]</h1>
        <nav>
            <ol class="breadcrumb px-3">
                <strong>
                    <a class="text-danger text-opacity-75" asp-action="Index">@ViewData["Evento"]</a>
                    <spn class="text-secondary"><i class="text-dark fa-sharp fa-solid fa-angle-right fa-xs"></i> @ViewData["Create"]</spn>
                </strong>
            </ol>
        </nav>
        <form asp-action="Create">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <div class="row d-flex justify-content-between">
                            <div class="form-group col-md-6">
                                <label asp-for="DataHoraInicio" class="control-label"></label>
                                <input asp-for="DataHoraInicio" class="form-control" />
                                <span asp-validation-for="DataHoraInicio" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Local" class="control-label"></label>
                                <input asp-for="Local" class="form-control" />
                                <span asp-validation-for="Local" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row d-flex justify-content-between">
                            <div class="form-group col-md-6">
                                <label asp-for="DataHoraFim" class="control-label"></label>
                                <input asp-for="DataHoraFim" class="form-control" />
                                <span asp-validation-for="DataHoraFim" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Repertorio" class="control-label"></label>
                                <input asp-for="Repertorio" class="form-control" />
                                <span asp-validation-for="Repertorio" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row d-flex justify-content-between">
                            <div class="form-group col-md-6">
                                <label asp-for="IdColaboradorResponsavel" class="control-label"></label>
                                <select asp-for="IdColaboradorResponsavel" asp-items="@Model.ListaPessoa" class="form-select">
                                    <option value=""></option>
                                </select>
                                <span asp-validation-for="IdColaboradorResponsavel" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="IdRegente" class="control-label"></label>
                                <select asp-for="IdRegente" asp-items="@Model.ListaPessoa" class="form-select">
                                    <option value=""></option>
                                </select>
                                <span asp-validation-for="IdRegente" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdGrupoMusical" class="control-label"></label>
                        <select asp-for="IdGrupoMusical" asp-items="@Model.ListaGrupoMusical" class="form-select">
                            <option value=""></option>
                        </select>
                        <span asp-validation-for="IdGrupoMusical" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="container">
                <div class="row">
                    <div class="col-5"></div>
                    <a class="btn btn-light text-secondary border border-secondary d-grid gap-2 col-3 mx-auto" asp-action="Index"> Voltar </a>
                    <input type="submit" value="Adicionar" class="btn btn-secondary d-grid gap-2 col-3 mx-auto" />
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

