@model GestaoGrupoMusicalWeb.Models.GerenciarInstrumentoEventoViewModel
@{
    ViewData["Title"] = "Gerenciar Instrumento Evento";
    ViewData["Evento"] = "Eventos";
    ViewData["GerenciarInstrumentoEvento"] = "Gerenciar Instrumento";
}

<partial name="_Notificar">
    <div class="row">
        <div class="col-md-8">
            <h1 class="p-3 bg-danger  bg-opacity-75 text-white fs-5">Gerenciar Instrumento do Evento Musical</h1>
            <nav>
                <ol class="breadcrumb px-3">
                    <strong>
                        <a class="text-danger text-opacity-75" asp-action="Index">@ViewData["Evento"]</a>
                        <spn class="text-secondary"><i class="text-dark fa-sharp fa-solid fa-angle-right fa-xs"></i> @ViewData["GerenciarInstrumentoEvento"]</spn>
                    </strong>
                </ol>
            </nav>
            <hr />
            <br />
            <div class="container">
                <div class="row">
                    <div class="col-xxl-4">
                        <label asp-for="DataHoraInicio" class="control-label"></label>
                        <input asp-for="DataHoraInicio" class="form-control" readonly />
                        <span asp-validation-for="DataHoraInicio" class="text-danger"></span>
                    </div>
                    <div class="col-xxl-4">
                        <label asp-for="DataHoraFim" class="control-label"></label>
                        <input asp-for="DataHoraFim" class="form-control" readonly />
                        <span asp-validation-for="DataHoraFim" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row col-xl">
                    <div >
                        <label asp-for="IdRegentes" class="control-label"></label>
                        <select asp-for="IdRegentes" asp-items="@Model.ListaPessoa" class="form-select" readonly>
                            <option value=""></option>
                        </select>
                        <span asp-validation-for="IdRegentes" class="text-danger"></span>
                    </div>
                    <div>
                        <input type="hidden" asp-for="IdGrupoMusical" />
                        <input type="hidden" asp-for="Id" />
                    </div>
                </div>
            </div>
            <div class="container">
                <div>
                    <label asp-for="IdFigurinoSelecionado" class="control-label"></label>
                    <input asp-for="@Model.FigurinoList" class="form-control" readonly />
                    <span asp-validation-for="FigurinoList" class="text-danger"></span>
                </div>
            </div>
            <div class="container">
                <div>
                    <label asp-for="Local" class="control-label"></label>
                    <input asp-for="Local" class="form-control" readonly />
                    <span asp-validation-for="Local" class="text-danger"></span>
                </div>
            </div>
            <form asp-action="CreateInstrumento">
                <div class="container">
                    <div class="row col-md-12">                      
                        <div class="form-group  col-md-4">
                            <label asp-for="ListaInstrumentos" class="control-label"></label>
                            <select asp-items="@Model.ListaInstrumentos" asp-for="IdTipoInstrumento" class="form-select"></select>
                            <input type="hidden" asp-for="@Model.IdTipoInstrumento" />
                        </div>                                    
                        <div class="form-group  col-md-4">
                            <label asp-for="Quantidade" class="control-label"></label>
                            <input asp-for="Quantidade" class="form-control" />
                            <span asp-validation-for="Quantidade" class="text-danger"></span>
                        </div>
                        <div class="form-group" hidden>
                            <label asp-for="IdApresentacao" class="control-label"></label>
                            <input asp-for="IdApresentacao" readonly class="form-control" />
                        </div>
                        <div class="form-group col-md-4 justify-content-lg-end flex-column-reverse flex-lg-row">
                            <input class="btn btn-secondary  btn-lg w-100 mt-3" type="submit" value="Adicionar" />
                        </div>
                    </div>
                </div>
            </form>
            <br />
            <br />
            <partial name="_TabelaGerenciarInstrumento" model="@Model.GerenciarInstrumentos">
                <div class="row">
                    <div class="d-flex justify-content-lg-end flex-column-reverse flex-lg-row">
                        <a class="btn btn-outline-secondary col-lg-2 mt-3 me-lg-3 btn-" asp-controller="Evento" asp-action="Index">Voltar</a>
                    </div>
                </div>
        </div>
    </div>
    @section Header {
        @{
            await Html.RenderPartialAsync("_AutoCompleteCssPartial");
        }
    }
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
            await Html.RenderPartialAsync("_EnablePopoversPartial");
            await Html.RenderPartialAsync("_AutoCompletePartial");
        }
    }
