@model GestaoGrupoMusicalWeb.Models.InformativoViewModel

@{
    ViewData["Title"] = $"Ecluir informativo - {Model.Mensagem}";
}

<h1>@ViewData["Title"]</h1>

<h3>Tem certeza que deseja apagar isso?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGrupoMusical)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGrupoMusical)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPessoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mensagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mensagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntregarAssociadosAtivos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntregarAssociadosAtivos)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" name="idGrupoMusical" value="@Model.IdGrupoMusical" />
        <input type="hidden" name="idPessoa" value="@Model.IdPessoa"/>
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
