@model IEnumerable<GestaoGrupoMusicalWeb.Models.InformativoViewModel>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Criar Informativo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdGrupoMusical)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mensagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntregarAssociadosAtivos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdGrupoMusical)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPessoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mensagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntregarAssociadosAtivos)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  idGrupoMusical=item.IdGrupoMusical,idPessoa=item.IdPessoa  }) |
                    @Html.ActionLink("Detalhes", "Details", new { idGrupoMusical=item.IdGrupoMusical,idPessoa=item.IdPessoa }) |
                    @Html.ActionLink("Excluir", "Delete", new { idGrupoMusical=item.IdGrupoMusical,idPessoa=item.IdPessoa })
            </td>
        </tr>
}
    </tbody>
</table>
