@model GestaoGrupoMusicalWeb.Models.PessoaViewModel

@{
    ViewData["Title"] = "Create";
}
<div class="col-md-6" >
    <h5 class="p-3 bg-danger text-white">Novo Associado</h5>
    <hr />
</div>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label">CPF</label>
                <input asp-for ="Cpf" id="campoCpf" class="form-control bg-light" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control bg-light" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <label asp-for="Sexo" class="control-label row"></label>
                        @{
                            foreach (var item in Model.sexoPessoa)
                            {
                                <label class="form-check-label" for="@item.Key">@item.Key</label>
                                <input class= "form-check-input form-check-inline" type="radio" value="@item.Value" asp-for="Sexo" id="@item.Key" />
                            }
                        }
                        <span asp-validation-for="Sexo" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm">
                        <label asp-for="Cep" class="control-label">CEP</label>
                        <input asp-for="Cep" id="campoCep" class="form-control bg-light" />
                        <span asp-validation-for="Cep" class="text-danger"></span>
                    </div>    
                </div>
            </div>



            <div class="form-group">
                <label asp-for="Rua" class="control-label"></label>
                <input asp-for="Rua" class="form-control bg-light" />
                <span asp-validation-for="Rua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" class="form-control bg-light" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control bg-light" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control bg-light" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control bg-light" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone1" class="control-label"></label>
                <input asp-for="Telefone1" id="campoTelefone1" class="form-control bg-light" />
                <span asp-validation-for="Telefone1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone2" class="control-label"></label>
                <input asp-for="Telefone2" id="campoTelefone2"class="form-control bg-light" />
                <span asp-validation-for="Telefone2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">E-mail</label>
                <input asp-for="Email" class="form-control bg-light" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEntrada" class="control-label"></label>
                <input asp-for="DataEntrada" class="form-control bg-light" />
                <span asp-validation-for="DataEntrada" class="text-danger"></span>
            </div>
            <div>
                <label class="control-label" asp-for="Ativo"></label>
                <select asp-for="Ativo" class="form-select bg-light">
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                </select>
                <span asp-validation-for="Ativo" class="text-danger"></span>
            </div>

            <div>
                <label class="control-label" asp-for="IsentoPagamento"></label>
                <select asp-for="IsentoPagamento" class="form-select bg-light">
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                </select>
                <span asp-validation-for="IsentoPagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdGrupoMusical" class="control-label"></label>
                <select asp-items="@Model.ListaGrupoMusical" asp-for="IdGrupoMusical" class="form-control bg-light"></select>
                <span asp-validation-for="IdGrupoMusical" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPapelGrupo" class="control-label"></label>
                <select asp-items="@Model.ListaPapelGrupo" asp-for="IdPapelGrupo" class="form-control bg-light"></select>
                <span asp-validation-for="IdPapelGrupo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdManequim" class="control-label"></label>
                <select asp-items="@Model.ListaManequim" asp-for="IdManequim" class="form-control bg-light"></select>
                <span asp-validation-for="IdManequim" class="text-danger"></span>
            </div>
            <div class="p-3"></div>
            <div class="d-flex justify-content-around form-group float-end w-50 flex-wrap">
                <a class="btn btn-light text-secondary border border-secondary" asp-action="Index"> Voltar </a>
                <input type="submit" value="Adicionar" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#campoCpf").inputmask("999.999.999-99"); //static mask
            $("#campoCep").inputmask("99999-999");
            $("#campoTelefone1").inputmask("(99)99999-9999");
            $("#campoTelefone2").inputmask("(99)99999-9999");
           
        });
      
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
  
}
