@model IEnumerable<Core.DTO.PessoaDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Associados</h1>

<p>
    <a asp-action="Create">Novo Associado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                    @{
                        var result = "";

                        if(item.Ativo.CompareTo(1) == 0)
                        {
                            result = "Sim";
                        }
                        else
                        {
                            result = "Não";
                        }
                    }
                    @result
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.Id }) |
                @Html.ActionLink("Excluir", "Delete", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
