@model GestaoGrupoMusicalWeb.Models.PessoaViewModel

@{
    ViewData["Title"] = "Remover Associado";
}

<h1>@ViewData["Title"]</h1>


<div>

    <hr />

        <dl class="row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cpf)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cpf)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cep)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cep)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Rua)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Rua)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Bairro)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Bairro)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cidade)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cidade)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Estado)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DataNascimento)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DataNascimento)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Telefone1)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Telefone1)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Telefone2)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Telefone2)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DataEntrada)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DataEntrada)
            </dd>
        </dl>

    <form asp-action="RemoveAssociado">

        <div class="form-group">
            <label asp-for="MotivoSaida" class="control-label"></label>
            <input asp-for="MotivoSaida" class="form-control"  />
            <span asp-validation-for="MotivoSaida" class="text-danger"></span>
        </div>
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
