@model IEnumerable<GestaoGrupoMusicalWeb.Models.MaterialEstudoViewModel>

<link href="~/lib/datatable/css/datatables.min.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Material de Estudo";
}

<partial name="_Notificar">

    <div class="d-flex justify-content-between align-items-center">
        <h5>@ViewData["Title"]</h5>
        <a role="button" class="btn btn-secondary m-3" asp-controller="MaterialEstudo" asp-action="Create">Novo Material de Estudo</a>
    </div>
    <table id="tableInstrumento" class="table table-striped table-bordered dt-responsive nowrap ">
        <thead>
            <tr class="bg-danger bg-opacity-75 text-white">
                <th class="px-3">
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th class="px-3">
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th class="px-3">
                    @Html.DisplayNameFor(model => model.Link)
                </th>
                <th class="px-3">
                    <span>Ações</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Link)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdGrupoMusical)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdColaborador)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                        @Html.ActionLink("Details", "Details", new { id=item.Id}) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
