@model GestaoGrupoMusicalWeb.Models.GrupoMusicalAdmGrupoViewModel

@{
    ViewData["Title"] = "Grupo Musical";
}

<partial name="_Notificar">

<div class="d-flex justify-content-between align-items-center">
    <h5>@ViewData["Title"]</h5>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr class="bg-danger bg-opacity-75 text-white">
                <th class="border-0">
                    <span class="text-white">CPF</span>
                </th>
                <th class="border-0">
                    <span class="text-white">Associado</span>
                </th>

                <th class=" border-0">
                    <span class="text-white">Data</span>
                </th>
                <th class=" border-0 ">
                    <span class="text-white">Papel</span>
                </th>
                <th class=" border-0">
                    <span class="text-white">Ações</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="border-bottom border-danger border-opacity-75 px-3 align-middle">
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="d-flex flex-wrap border-0 align-items-center">
                        <a role="button" class="btn btn-secondary btn-sm  m-2 " asp-controller="GrupoMusical" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"> </i> Editar</a>
                        <a role="button" class="btn btn-secondary btn-sm  m-2" asp-controller="GrupoMusical" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-file"> </i> Detalhes</a>
                        <a role="button" class="btn btn-secondary btn-sm  m-2" asp-controller="GrupoMusical" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-xmark"> </i> Excluir</a>
                        <a role="button" class="btn btn-secondary btn-sm  m-2" asp-controller="AdministradorGrupoMusical" asp-action="Index" asp-route-id="@item.Id"><i class="fa-solid fa-lock-open"></i> Administradores</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
