@model IEnumerable<Core.DTO.GrupoMusicalDTO>

@{
    ViewData["Title"] = "Grupos Musicais";
}



<div class="d-flex justify-content-between align-items-center">
    <h5>@ViewData["Title"]</h5>
    <a role="button" class="btn btn-secondary m-3" asp-action="Create">Novo Grupo Musical</a>

</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr class="bg-danger bg-opacity-75 text-white">
                <th>
                    <span class="text-white">Código</span>
                </th>
                <th>
                    <span class="text-white">Nome</span>
                </th>
                <th>Ações</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a role="button" class="btn btn-secondary btn-sm mb-xl-0 mb2" asp-controller="GrupoMusical" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"> </i> Editar</a>
                        <a role="button" class="btn btn-secondary btn-sm mb-xl-0 mb2" asp-controller="GrupoMusical" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-file"> </i> Detalhes</a>
                        <a role="button" class="btn btn-secondary btn-sm mb-xl-0 mb2" asp-controller="GrupoMusical" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-xmark"> </i> Excluir</a>
                        <a role="button" class="btn btn-secondary btn-sm mb-xl-0 mb2" asp-controller="AdministradorGrupoMusical" asp-action="Index" asp-route-id="@item.Id"><i class="fa-solid fa-lock-open"></i> Administradores</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>