@model GestaoGrupoMusicalWeb.Models.EnsaioViewModel

@{
    ViewData["Title"] = $"Detalhes Ensaio {Model.Local}";
}
<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGrupoMusical)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGrupoMusical)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHoraInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHoraInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHoraFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHoraFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresencaObrigatoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresencaObrigatoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Local)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Local)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Repertorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Repertorio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdColaboradorResponsavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdColaboradorResponsavel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRegente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRegente)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-secondary" role="button" asp-controller="Ensaio" asp-action="Index">Voltar</a>
    <a class="btn btn-secondary ms-2" role="button" asp-controller="Ensaio" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
</div>
