@model GestaoGrupoMusicalWeb.Models.EnsaioViewModel

@{
    ViewData["Title"] = $"Editar Ensaio {Model.Local}";
    ViewData["Ensaio"] = "Ensaios";
    ViewData["Edit"] = "Editar";
}
<partial name="_Notificar">
<div class=container>
        <div class="row">
            <div class="col-md-8">
                <h1 class="p-3 bg-danger  bg-opacity-75 text-white fs-5">Editar Ensaio</h1>
                <nav>
                    <ol class="breadcrumb px-3">
                        <strong>
                            <a class="text-danger text-opacity-75" asp-action="Index">@ViewData["Ensaio"]</a>
                            <spn class="text-secondary"><i class="text-dark fa-sharp fa-solid fa-angle-right fa-xs"></i> @ViewData["Edit"]</spn>
                        </strong>
                    </ol>
                </nav>
                <hr />
                <br />
                <form asp-action="Create">
                    <div class="container">
                        <div class="row">
                            <div class="form-group col-xl">
                                <label asp-for="Tipo" class="control-label"></label>
                                <select asp-for="Tipo" class="form-select" asp-items="Html.GetEnumSelectList<Tipo>()">
                                </select>
                                <span asp-validation-for="Tipo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="form-group col-xxl-4">
                                <label asp-for="DataHoraInicio" class="control-label"></label>
                                <input asp-for="DataHoraInicio" class="form-control" />
                                <span asp-validation-for="DataHoraInicio" class="text-danger"></span>
                            </div>
                            <div class="form-group col-xxl-4">
                                <label asp-for="DataHoraFim" class="control-label"></label>
                                <input asp-for="DataHoraFim" class="form-control" />
                                <span asp-validation-for="DataHoraFim" class="text-danger"></span>
                            </div>

                            <div class="form-group col-xl">
                                <label asp-for="PresencaObrigatoria" class="control-label"></label>
                                <div class="d-flex justify-content-around">
                                    @{
                                        foreach (var item in Model.Obrigatorio)
                                        {
                                            <div>
                                                <label for="@item.Key">@item.Key</label>
                                                <input class="form-check-input" type="radio" value="@item.Value" asp-for="PresencaObrigatoria" id="@item.Key" />
                                            </div>
                                        }
                                    }
                                </div>
                                <span asp-validation-for="PresencaObrigatoria" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="form-group">
                                <label asp-for="Local" class="control-label"></label>
                                <input asp-for="Local" class="form-control" />
                                <span asp-validation-for="Local" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="form-group col-xl">
                                <label asp-for="IdRegente" class="control-label"></label>
                                <select asp-for="IdRegente" asp-items="@Model.ListaPessoa" class="form-select">
                                    <option value=""></option>
                                </select>
                                <span asp-validation-for="IdRegente" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="form-group">
                                <label asp-for="Repertorio" class="control-label"></label>
                                <textarea asp-for="Repertorio" class="form-control"></textarea>
                                <span asp-validation-for="Repertorio" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="container">
                        <div class="row d-flex flex-column-reverse d-grig gap-2 mx-auto d-flex flex-sm-column-reverse flex-xl-row">
                            <div class="col-5 d-none d-sm-block"></div>
                            <a class="btn btn-light text-secondary border border-secondary d-grid gap-2 col-sm" asp-action="Index"> Voltar </a>
                            <input type="submit" value="Adicionar" class="btn btn-secondary d-grid gap-2 col-sm " />
                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
