@model IEnumerable<Core.DTO.EnsaioAssociadoDTO>
@{
    ViewData["Title"] = "Ensaios";
    Layout = "_LayoutAssociado";
}

<partial name="_Notificar">

<div class="container">
    <h1 class="fs-5 mb-4">@ViewData["Title"]</h1>
    <form asp-controller="Ensaio" asp-action="RegistrarJustificativa">
        <div class="table-responsive">
            <table class="table accordion mt-3">
                <thead>
                    <tr class="bg-danger bg-opacity-75 text-white">
                        <th>
                            @Html.DisplayNameFor(model => model.Local)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Inicio)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fim)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Presente)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Justificativa)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.JustificativaAceita)
                        </th>
                        <th>
                            Ações
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr class="border-bottom border-danger border-opacity-75 align-middle">
                            <td>
                                @item.Local
                            </td>
                            <td>
                                @item.Inicio
                            </td>
                            <td>
                                @item.Fim
                            </td>
                            <td>
                                @(item.Presente ? "Sim" : "Não")
                            </td>
                            <td>
                                @item.Justificativa
                            </td>
                            <td>
                                @(item.JustificativaAceita ? "Sim" : "Não")
                            </td>
                            <td>
                                <a
                                    data-bs-toggle="collapse" 
                                    data-bs-target="#accordion_@(item.IdEnsaio)" 
                                    role="button"
                                    class="btn btn-secondary btn-sm dropdown-toggle my-3">
                                    Consultar Repertório
                                </a>
                                <a class="btn btn-secondary btn" role="button">Justificar Ausência</a>
                            </td>
                        </tr>
                        <tr class="collapse accordion-collapse border-danger border-opacity-75" id="accordion_@(item.IdEnsaio)">
                            <td colspan="12">
                                <div>
                                    <p>@Html.DisplayNameFor(model => model.Repertorio)</p>
                                    @item.Repertorio
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (!Model.Any())
            {
                <p class="text-center mt-4 mb-0">Desculpe, nenhum <b>Ensaio</b> encontrado :(</p>
            }
        </div>
    </form>
</div>