@model IEnumerable<Core.DTO.EnsaioIndexDTO>

@{
    ViewData["Title"] = "Ensaios";
}
<partial name="_Notificar">
<div class="d-flex justify-content-between align-items-center">
    <h5>@ViewData["Title"]</h5>
    <a role="button" class="btn btn-secondary m-3" asp-controller="Ensaio" asp-action="Create">Novo Ensaio</a>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr class="bg-danger bg-opacity-75 text-white">
                <th>
                    <span class="text-white">Data hora início</span>
                </th>
                <th>
                    <span class="text-white">Tipo</span>
                </th>
                <th>
                    <span class="text-white">Local</span>
                </th>
                <th>
                    <span class="text-white">Presença Obrigatória</span>
                </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="border-bottom border-danger border-opacity-75 p-3 align-middle">
                    <td>
                        @Html.DisplayFor(modelItem => item.DataHoraInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Local)
                    </td>
                    @{
                        String presenca = String.Empty;
                        if (item.PresencaObrigatoria == 1)
                        {
                            presenca = "Sim";
                        }
                        else
                        {
                            presenca = "Não";
                        }
                    }
                    <td>
                        @Html.DisplayFor(modelItem => presenca)
                    </td>
                    <td class="d-flex gap-1 border-0 flex-wrap py-3">                
                        <a role="button" class="btn btn-secondary btn-sm mb-xl-0 mb-2" asp-controller="Ensaio" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"> </i> Editar </a>
                        <a role="button" class="btn btn-secondary btn-sm mb-xl-0 mb-2" asp-controller="Ensaio" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-file"> </i> Detalhes </a>
                        <form id="@(item.Id + "_confirmar")" asp-action="Delete" asp-route-id="@item.Id" method="post">
                            <a onclick="showModal('@(item.Id + "_confirmar")', 'ensaioModal')" class="btn btn-secondary btn-sm mb-xl-0 mb-2" role="button" data-bs-toggle="modal" data-bs-target="#ensaioModal">
                                <i class="fa-solid fa-xmark"> </i>
                                Excluir
                            </a>
                        </form>
                        <a role="button" class="btn btn-secondary btn-sm mb-xl-0" asp-controller="Ensaio" asp-action="RegistrarFrequencia" asp-route-idEnsaio="@item.Id"><i class="fa-solid fa-list-check"> </i> Frequência</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    <div class="modal fade" id="ensaioModal" tabindex="-1" aria-labelledby="ensaioLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="admLabel">Confirmar Exclusão do Ensaio</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Deseja <b>Excluir</b> o <b>Ensaio</b>?
                </div>
                <form method="post" class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary col-3 me-4" data-bs-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-secondary col-3">Sim</button>
                </form>
            </div>
        </div>
    </div>
