@model IEnumerable<Core.DTO.EnsaioIndexDTO>

@{
    ViewData["Title"] = "Ensaios";
}

<div class="d-flex justify-content-between align-items-center">
    <h5>@ViewData["Title"]</h5>
    <a role="button" class="btn btn-secondary m-3" asp-controller="Ensaio" asp-action="Create">Novo Ensaio</a>
</div>
<div class="table-reponsive">
    <table class="table">
        <thead>
            <tr class="bg-danger bg-opacity-75 text-white">
                <th>
                    <span class="text-white">Data hora início</span>
                </th>
                <th>
                    <span class="text-white">Tipo</span>
                </th>
                <th>
                    <span class="text-white">Local</span>
                </th>
                <th>
                    <span class="text-white">Presença Obrigatória</span>
                </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="border-bottom border-danger border-opacity-75 p-3 align-middle">
                    <td class="p-3">
                        @Html.DisplayFor(modelItem => item.DataHoraInicio)
                    </td>
                    <td class="p-3">
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td class="p-3">
                        @Html.DisplayFor(modelItem => item.Local)
                    </td>
                    @{
                        String presenca = String.Empty;
                        if (item.PresencaObrigatoria == 1)
                        {
                            presenca = "Sim";
                        }
                        else
                        {
                            presenca = "Não";
                        }
                    }
                    <td>
                        @Html.DisplayFor(modelItem => presenca)
                    </td>
                    <td class="d-flex justify-content-between border-0 py-3">
                        <a role="button" class="btn btn-secondary btn-sm" asp-controller="Ensaio" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"> </i> Editar </a>
                        <a role="button" class="btn btn-secondary btn-sm" asp-controller="Ensaio" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-file"> </i> Detalhes </a>
                        <a role="button" class="btn btn-secondary btn-sm" asp-controller="Ensaio" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-xmark"> </i> Excluir </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
