@model IEnumerable<Core.DTO.EnsaioIndexDTO>

@{
    ViewData["Title"] = "Ensaio";
}

<p>
    <a asp-action="Create">Novo ensaio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresencaObrigatoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local)
            </td>
                @{
                    String presenca = String.Empty;
                    if (item.PresencaObrigatoria == 1){
                        presenca = "Sim";
                    }else{
                        presenca = "Não";
                    }
            }
            <td>
                @Html.DisplayFor(modelItem => presenca)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new {  id=item.Id }) |
                @Html.ActionLink("Excluir", "Delete", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
