@model List<Core.DTO.EnsaioAssociadoDTO>
@{
    ViewData["Title"] = "Ensaios";
    Layout = "_LayoutAssociado";
}

<partial name="_Notificar">

<div class="container">
    <h1 class="fs-5 mb-4">@ViewData["Title"]</h1>
    <form asp-controller="Ensaio" asp-action="RegistrarJustificativa">
        <div class="table-responsive">
            <table class="table mt-3">
                <thead>
                    <tr class="bg-danger bg-opacity-75 text-white">
                        <th>
                            @Html.DisplayNameFor(model => model[0].Inicio)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].Fim)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].Presente)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].Justificativa)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].JustificativaAceita)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr class="border-bottom border-danger border-opacity-75 align-middle">
                            <td>
                                @Html.HiddenFor(x => x[i].IdEnsaio)
                                @Model[i].Inicio
                            </td>
                            <td>
                                @Model[i].Fim
                            </td>
                            <td>
                                @Model[i].Presente
                            </td>
                            <td>
                                @Model[i].Justificativa
                            </td>
                            <td>
                                @Html.CheckBoxFor(x => x[i].JustificativaAceita, new { @class = "form-check-input" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (!Model.Any())
            {
                <p class="text-center mt-4 mb-0">Desculpe, nenhum ensaio encontrado :(</p>
            }
        </div>
    </form>
</div>