@model GestaoGrupoMusicalWeb.Models.EnsaioViewModel
@{
    ViewData["Title"] = "Registrar Frequência de Ensaio";
    ViewData["Ensaio"] = "Ensaios";
    ViewData["Registrar Frequência"] = "Registrar Frequência";
    var pessoas = ViewBag.AssociadosAtivos as SelectList;
}

<partial name="_Notificar">

    <div class="row">
        <div class="col-md-8">
            <h1 class="p-3 bg-danger  bg-opacity-75 text-white fs-5">Registrar Frequencia</h1>
            <nav>
                <ol class="breadcrumb px-3">
                    <strong>
                        <a class="text-danger text-opacity-75" asp-action="Index">@ViewData["Ensaio"]</a>
                        <spn class="text-secondary"><i class="text-dark fa-sharp fa-solid fa-angle-right fa-xs"></i> @ViewData["Registrar Frequência"]</spn>
                    </strong>
                </ol>
            </nav>
            <hr />
            <br />
            <form id="formCreate" asp-action="Edit">
                <div class="container">
                    <div class="row">
                        <div class="row">
                            <div class="form-group col-xxl-4">
                                <label asp-for="DataHoraInicio" class="control-label"></label>
                                <input asp-for="DataHoraInicio" class="form-control" />
                                <span asp-validation-for="DataHoraInicio" class="text-danger"></span>
                            </div>
                            <div class="form-group col-xxl-4">
                                <label asp-for="DataHoraFim" class="control-label"></label>
                                <input asp-for="DataHoraFim" class="form-control" />
                                <span asp-validation-for="DataHoraFim" class="text-danger"></span>
                            </div>
                            <div class="form-group col-xl">
                                <label asp-for="Tipo" class="control-label"></label>
                                <select asp-for="Tipo" class="form-select" asp-items="Html.GetEnumSelectList<Tipo>()">
                                </select>
                                <span asp-validation-for="Tipo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="form-group col-xl">
                                <label asp-for="IdRegentes" class="control-label"></label>
                                <span class="d-inline-block my-2" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Escreva o nome do Regente. Ex: @ViewData["exemploRegente"]">
                                    <button class="btn btn-outline-secondary btn-sm fw-bold" type="button">?</button>
                                </span>
                                <select multiple asp-for="IdRegentes" class="d-none" asp-items="Model.ListaPessoa">
                                </select>
                                <input class="form-control" id="regentes" placeholder="Informe o Regente." />
                                <div id="blockNames" class="d-flex flex-column gap-2">
                                </div>
                                <span for="regentes" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="form-group">
                            <label asp-for="IdFigurinoSelecionado" class="control-label"></label>
                            <select asp-items="@Model.ListaFigurino" asp-for="IdFigurinoSelecionado" class="form-select"></select>
                            <span asp-validation-for="IdFigurinoSelecionado" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="form-group">
                            <label asp-for="Local" class="control-label"></label>
                            <input asp-for="Local" class="form-control" />
                            <span asp-validation-for="Local" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="form-group">
                            <table>
                                <thead>
                                    <tr>
                                        <th>CPF</th>
                                        <th>Nome</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in pessoas)
                                    {
                                        <tr>
                                            <td>@item.Value</td>
                                            <td>@item.Text</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="container">
                    <div class="row d-flex flex-column-reverse d-grig gap-2 mx-auto d-flex flex-sm-column-reverse flex-xl-row">
                        <div class="col-5 d-none d-sm-block"></div>
                        <a class="btn btn-light text-secondary border border-secondary d-grid gap-2 col-sm" asp-controller="Ensaio" asp-action="Index"> Voltar </a>
                        <input type="submit" value="Salvar" class="btn btn-secondary d-grid gap-2 col-sm " />
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
    <script>
        window.addEventListener("load", () => {
            fillAutocomplete('@(Html.Raw(Model.JsonLista))', "regentes", "IdRegentes", "formCreate", "O campo Regentes é obrigatório", '@(Html.Raw(ViewData["jsonIdRegentes"]))');
        });
    </script>

    @section Header {
        @{
            await Html.RenderPartialAsync("_AutoCompleteCssPartial");
        }
    }
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
            await Html.RenderPartialAsync("_EnablePopoversPartial");
            await Html.RenderPartialAsync("_AutoCompletePartial");
        }
    }
