@using System.Linq
@model GestaoGrupoMusicalWeb.Models.HomeViewModel

@{
    ViewData["Title"] = "Página Inicial";
}

<div class="d-flex justify-content-between align-items-center mt-3">
    <h5>Próximos Eventos</h5>
    <a role="button" class="btn btn-secondary" asp-controller="Evento" asp-action="Create">Novo Evento</a>
</div>

@if (Model.Evento.Any())
{
    <table class="table table-striped table-hover">
        <thead>
            <tr class="bg-danger opacity-75 text-white">
                <th class="px-3" style="width: 25%;">Data</th>
                <th class="px-3" style="width: 50%;">Local</th>
                <th class="px-3 text-center" style="width: 25%;">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Evento)
            {
                <tr class="align-middle">
                    <td class="p-3">@(item.DataHoraInicio.ToString("g"))</td>
                    <td class="p-3">@item.Local</td>
                    <td class="p-3 d-flex justify-content-center">
                        <a role="button" class="btn btn-secondary btn-sm" title="Registrar Frequência" asp-controller="Evento" asp-action="RegistrarFrequencia" asp-route-id="@item.Id">
                            <i class="fa-solid fa-right-left"></i> Frequência
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info mt-3" role="alert">
        Nenhum próximo evento agendado.
    </div>
}

<div class="d-flex justify-content-between align-items-center mt-5">
    <h5>Próximos Ensaios</h5>
    <a role="button" class="btn btn-secondary" asp-controller="Ensaio" asp-action="Create">Novo Ensaio</a>
</div>

@if (Model.Ensaio.Any())
{
    <table class="table table-striped table-hover">
        <thead>
            <tr class="bg-danger opacity-75 text-white">
                <th class="px-3" style="width: 25%;">Data</th>
                <th class="px-3" style="width: 50%;">Local</th>
                <th class="px-3 text-center" style="width: 25%;">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Ensaio)
            {
                <tr class="align-middle">
                    <td class="p-3">@(item.DataHoraInicio?.ToString("g"))</td>
                    <td class="p-3">@item.Local</td>
                    <td class="p-3 d-flex justify-content-center">
                        <a role="button" class="btn btn-secondary btn-sm" title="Registrar Frequência" asp-controller="Ensaio" asp-action="RegistrarFrequencia" asp-route-id="@item.Id">
                            <i class="fa-solid fa-right-left"></i> Frequência
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info mt-3" role="alert">
        Nenhum próximo ensaio agendado.
    </div>
}

<div class="d-flex justify-content-between align-items-center mt-5">
    <h5>Últimos Informativos</h5>
    <a role="button" class="btn btn-secondary" asp-controller="Informativo" asp-action="Create">Novo Informativo</a>
</div>

@if (Model.Informativo.Any())
{
    <table class="table table-striped table-hover">
        <thead>
            <tr class="bg-danger opacity-75 text-white">
                <th class="px-3" style="width: 25%;">Data</th>
                <th class="px-3" style="width: 50%;">Mensagem</th>
                <th class="px-3 text-center" style="width: 25%;">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Informativo)
            {
                <tr class="align-middle">
                    <td class="p-3">@(item.Data.ToString("d"))</td>
                    <td class="p-3">@item.Mensagem</td>
                    <td class="p-3 d-flex justify-content-center">
                        <a role="button" class="btn btn-secondary btn-sm" title="Notificar Associados" onclick="showConfirmationModalNotificar(@item.Id)">
                            <i class="fa-regular fa-envelope"></i> Reenviar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info mt-3" role="alert">
        Nenhum informativo recente para exibir.
    </div>
}

<div class="modal fade" id="InformativoModalNotificar" tabindex="-1" aria-labelledby="InformativoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="admLabel">Confirmar Notificação do Informativo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja <b>Notificar</b> o <b>Informativo</b>?
            </div>
            <form method="post" class="modal-footer">
                <button type="button" class="btn btn-outline-secondary col-3 me-4" data-bs-dismiss="modal">Não</button>
                <button type="submit" class="btn btn-secondary col-3">Sim</button>
            </form>
        </div>
    </div>
</div>

<script>
    function showConfirmationModalNotificar(formId) {
        var modal = document.getElementById('InformativoModalNotificar');
        var modalForm = modal.querySelector('form');
        modalForm.action = '/Informativo/NotificarInformativoViaEmail/' + formId;
        var modalBody = modal.querySelector('.modal-body');
        modalBody.innerHTML = 'Deseja <b>Notificar</b> o <b>Informativo</b>?';
        var modal = new bootstrap.Modal(modal);
        modal.show();
    }
</script>
