@model IEnumerable<Core.DTO.AdministradorGrupoMusicalDTO>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.ActionLink("Remover", "Delete", new { id=item.Id, nomeGrupo=ViewBag.Nome }) |
                    @Html.ActionLink("Notificar", "", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>