@model IEnumerable<Core.DTO.AdministradorGrupoMusicalDTO>

<div class="table-responsive">
    <table class="table">
        <thead class="bg-danger bg-opacity-75 text-white">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cpf)
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="border-bottom border-danger border-opacity-75">
                    <td class="py-3">
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td class="py-3">
                        @Html.DisplayFor(modelItem => item.Cpf)
                    </td>
                    <td class="py-3 border-0 d-flex flex-column flex-lg-row gap-3">
                        <form id="@(item.Id + "_confirmar")" asp-controller="AdministradorGrupoMusical" asp-action="Delete" asp-route-id="@item.Id" method="post">
                            <a class="btn btn-sm btn-secondary" role="button" onclick="showModal('@(item.Id + "_confirmar")', 'admModalNotificar')" data-bs-toggle="modal" data-bs-target="#admModalNotificar">
                                <i class="fa-solid fa-envelope"></i>
                                Notificar
                            </a>

                            <a onclick="showModal('@(item.Id + "_confirmar")', 'admModalExcluir')" class="btn btn-sm btn-secondary" role="button" data-bs-toggle="modal" data-bs-target="#admModalExcluir">
                                <i class="fa-solid fa-xmark"> </i>
                                Excluir
                            </a>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal fade" id="admModalExcluir" tabindex="-1" aria-labelledby="admLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="admLabel">Confirmar Remorção de Cargo de Administrador</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja <b>Remover</b> o cargo de <b>Administrador</b>?
            </div>
            <form method="post" class="modal-footer">
                <button type="button" class="btn btn-outline-secondary col-3 me-4" data-bs-dismiss="modal">Não</button>
                <button type="submit" class="btn btn-secondary col-3">Sim</button>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="admModalNotificar" tabindex="-1" aria-labelledby="admLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="admLabel">Confirmar Notificação de Cargo de Administrador</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja <b>Notificar</b> o cargo de <b>Administrador</b>?
            </div>
            <form method="post" class="modal-footer">
                <button type="button" class="btn btn-outline-secondary col-3 me-4" data-bs-dismiss="modal">Não</button>
                <button type="submit" class="btn btn-secondary col-3">Sim</button>
            </form>
        </div>
    </div>
</div>