@model IEnumerable<Core.DTO.MovimentacaoInstrumentoDTO>

<div class="table-responsive">
    <table class="table mt-3">
        <thead>
            <tr class="bg-danger bg-opacity-75 text-white">
                <th>
                    @Html.DisplayNameFor(model => model.Cpf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeAssociado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movimentacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="border-bottom border-danger border-opacity-75 align-middle">
                    <td>
                        @item.Cpf
                    </td>
                    <td>
                        @item.NomeAssociado
                    </td>
                    <td>
                        @item.Data.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.Movimentacao
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td class="py-3 border-0 d-flex flex-column flex-lg-row gap-3">
                        <form id="@(item.Id + "_notificar")" asp-controller="InstrumentoMusical" asp-action="NotificarViaEmail" asp-route-Id="@item.Id" asp-route-IdInstrumento="@item.IdInstrumento" method="post">
                            <a role="button" class="btn btn-sm btn-secondary"
                               onclick="(() => {confirm('Deseja notificar a movimentação?') ? document.getElementById('@(item.Id + "_notificar")').submit() : null})()">
                                <i class="fa-solid fa-envelope"></i>
                                Notificar
                            </a>
                        </form>
                        <form id="@(item.Id + "_delete")" asp-controller="InstrumentoMusical" asp-action="DeleteMovimentacao" asp-route-Id="@item.Id" asp-route-IdInstrumento="@item.IdInstrumento" method="post">
                            <a role="button" class="btn btn-sm btn-secondary"
                               onclick="(() => {confirm('Deseja excluir a movimentação?') ? document.getElementById('@(item.Id + "_delete")').submit() : null})()">
                                <i class="fa-solid fa-xmark"> </i>
                                Excluir
                            </a>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (!Model.Any())
    {
        <p class="text-center mt-4 mb-0">Desculpe, nenhuma movimentação encontrada :(</p>
    }
</div>
