@model IEnumerable<Core.DTO.MovimentacaoInstrumentoDTO>

<div class="table-responsive-md">
    <table class="table table table-bordered mt-3">
        <thead class="table-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cpf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeAssociado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movimentacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Cpf
                    </td>
                    <td>
                        @item.NomeAssociado
                    </td>
                    <td>
                        @item.Data.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.Movimentacao
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td>
                        <form id="@(item.Id + "_delete")" asp-controller="InstrumentoMusical" asp-action="DeleteMovimentacao" asp-route-Id="@item.Id" asp-route-IdInstrumento="@item.IdInstrumento" method="post">
                            <a role="button" class="link-primary"
                               onclick="(() => {confirm('Deseja excluir a movimentação?') ? document.getElementById('@(item.Id + "_delete")').submit() : null})()">
                                Excluir
                            </a>
                        </form>
                        |
                        <form id="@(item.Id + "_notificar")" asp-controller="InstrumentoMusical" asp-action="NotificarViaEmail" asp-route-Id="@item.Id" asp-route-IdInstrumento="@item.IdInstrumento" method="post">
                            <a role="button" class="link-primary"
                               onclick="(() => {confirm('Deseja notificar a movimentação?') ? document.getElementById('@(item.Id + "_notificar")').submit() : null})()">
                                Notificar
                            </a>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (!Model.Any())
    {
        <p class="text-center mt-4 mb-0">Desculpe, nenhuma movimentação encontrada :(</p>
    }
</div>
