@model IEnumerable<Core.DTO.InstrumentoAssociadoDTO.MovimentacaoAssociado>

<div class="table-responsive">
    <table class="table mt-3">
        <thead>
            <tr class="bg-danger bg-opacity-75 text-white">
                <th class="col-md-3">
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th class="col-md-3">
                    @Html.DisplayNameFor(model => model.NomeInstrumento)
                </th>
                <th class="col-md-3">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th class="col-md-3">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="border-bottom border-danger border-opacity-75 align-middle">
                    <td class="py-3">
                        @item.Data.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.NomeInstrumento
                    </td>
                    <td>
                        @item.NomeStatus
                    </td>
                    @if (!item.Status)
                    {
                        <td class="py-3 border-0 d-flex flex-column flex-lg-row gap-3">
                            <form id="@(item.Id + "_confirmar")" asp-controller="InstrumentoMusical" asp-action="ConfirmarMovimentacao" asp-route-idMovimentacao="@item.Id" method="post">
                                <a role="button" class="btn btn-sm btn-secondary"
                                   data-bs-toggle="modal" data-bs-target="#associadoMovimentacaoModal"
                                   @*onclick="(() => {confirm('Deseja notificar a movimentação?') ? document.getElementById('@(item.Id + "_confirmar")').submit() : null})()"*@
                                   onclick="showModal('@(item.Id + "_confirmar")', 'associadoMovimentacaoModal')">
                                    <i class="fa-solid fa-check"></i>
                                    Confirmar
                                </a>
                            </form>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    @if (!Model.Any())
    {
        <p class="text-center mt-4 mb-0">Desculpe, nenhum registro encontrado :(</p>
    }
</div>
