@model GestaoGrupoMusicalWeb.Models.InstrumentoMusicalViewModel

@{
    ViewData["Title"] = "Excluir Instrumento";
    ViewData["Index"] = "Instrumentos Musicais";
}


<div class="row">
    <div class="col-md-7">
        <h1 class="bg-danger bg-opacity-75 p-3 text-white fs-5">Excluir Instrumento</h1>
        <br>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index">@ViewData["Index"]</a></li>
            </ol>
        </nav>
        <br>
        <h3 class="fs-4">Tem certeza de que deseja excluir este instrumento?</h3>

        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Patrimonio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Patrimonio)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DataAquisicao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DataAquisicao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdTipoInstrumento)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdTipoInstrumento)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdGrupoMusical)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdGrupoMusical)
            </dd>
        </dl>


        <form asp-action="Delete" class="d-flex flex-wrap-reverse justify-content-end">
            <a asp-action="Index" class="m-2 btn btn-outline-secondary order-1">Voltar</a>
            <input type="submit" value="Excluir" class="btn btn-secondary m-2 order-2" />
        </form>
    </div>
</div>

