@model IEnumerable<Core.DTO.InstrumentoMusicalDTO>

@{
    ViewData["Title"] = "Instrumentos Musicais";
}

<partial name="_Notificar" />

<div class="d-flex justify-content-between align-items-center">
    <h5>@ViewData["Title"]</h5>
    <a role="button" class="btn btn-secondary m-3" asp-controller="InstrumentoMusical" asp-action="Create">Novo Instrumento</a>
</div>

<div class="table-responsive-md">
    <table class="table">
        <thead>
            <tr class="bg-danger bg-opacity-75 text-white">
                <th class="px-3">
                    @Html.DisplayNameFor(m => m.Patrimonio)
                </th>
                <th class="px-3">
                    @Html.DisplayNameFor(m => m.NomeInstrumento)
                </th>
                <th class="px-3">
                    @Html.DisplayNameFor(m => m.Status)
                </th>
                <th class="px-3">
                    @Html.DisplayNameFor(m => m.NomeAssociado)
                </th>
                <th class="px-3">
                    <span>Ações</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr class="border-bottom border-danger border-opacity-75 align-middle">
                    <td class="p-3">
                        @item.Patrimonio
                    </td>
                    <td class="p-3">
                        @item.NomeInstrumento
                    </td>
                    <td class="p-3">
                        @item.Status
                    </td>
                    <td class="p-3">
                        @item.NomeAssociado
                    </td>
                    <td class="d-flex flex-wrap border-0 p-3">
                        <a role="button" class="btn btn-secondary btn-sm px-3 m-1" asp-controller="InstrumentoMusical" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"> </i> Editar </a>
                        <a role="button" class="btn btn-secondary btn-sm px-3 m-1" asp-controller="InstrumentoMusical" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-xmark"> </i> Excluir </a>
                        <a role="button" class="btn btn-secondary btn-sm px-3 m-1" asp-controller="InstrumentoMusical" asp-action="Movimentar" asp-route-id="@item.Id"><i class="fa-solid fa-arrow-right-arrow-left"></i> Movimentar </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>