@model IEnumerable<Core.DTO.InstrumentoMusicalDTO>

@{
    ViewData["Title"] = "Instrumentos Musicais";
}

<div class="d-flex justify-content-between align-items-center">
    <h5>@ViewData["Title"]</h5>
    <a role="button" class="btn btn-secondary" asp-controller="InstrumentoMusical" asp-action="Create">Novo Instrumento</a>
</div>

<div class="table-responsive-md">
    <table class="table table table-bordered mt-3">
        <thead class="table-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Patrimonio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeInstrumento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeAssociado)
                </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.Patrimonio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeInstrumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeAssociado)
                </td>
                <td>
                    <a role="button" class="btn btn-secondary btn-sm mb-xl-0 mb-2" asp-controller="InstrumentoMusical" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"> </i> Editar </a> |
                        @Html.ActionLink("Excluir", "Delete", new { id=item.Id  }, new {@class="btn btn-secondary m-3 fa-solid fa-pen-to-square"}) |
                    @Html.ActionLink("Movimentar", "Movimentar", new { id=item.Id}, new {@class="btn btn-secondary m-3"})
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>