@model GestaoGrupoMusicalWeb.Models.MovimentacaoInstrumentoViewModel
@{
    ViewData["Title"] = "Movimentar Instrumento Musical";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <form asp-controller="InstrumentoMusical" asp-action="Movimentar">
        <input asp-for="IdInstrumentoMusical" class="form-control" type="hidden" />
        <div class="row mb-3">
            <div class="col-lg-6">
                <label asp-for="Patrimonio" class="control-label"></label>
                <input asp-for="Patrimonio" class="form-control" readonly />
                <span asp-validation-for="Patrimonio" class="text-danger"></span>
            </div>
            <div class="col-lg-6">
                <label asp-for="NomeInstrumento" class="control-label"></label>
                <input asp-for="NomeInstrumento" class="form-control" readonly />
                <span asp-validation-for="NomeInstrumento" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div>
                <label asp-for="IdAssociado" class="control-label"></label>
                <select asp-for="IdAssociado" asp-items="@Model.ListaAssociado" class="form-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="IdAssociado" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div>
                <label asp-for="IdColaborador" class="control-label"></label>
                <select asp-for="IdColaborador" asp-items="@Model.ListaAssociado" class="form-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="IdColaborador" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-6">
                <label asp-for="Movimentacao" class="control-label"></label>
                <div class="d-flex justify-content-around">
                    @{
                        foreach (var item in Model.MovimentacaoEnum)
                        {
                            <div>
                                <label for="@item.Key">@item.Key</label>
                                <input type="radio" value="@item.Value" asp-for="Movimentacao" id="@item.Key" />
                            </div>
                        }
                    }
                </div>
                <span asp-validation-for="Movimentacao" class="text-danger"></span>
            </div>
            <div class="col-lg-6">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="DataString" class="form-control" readonly />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-lg-end flex-column flex-lg-row">
                <a class="btn btn-light col-lg-2 mt-3 me-lg-3" asp-controller="InstrumentoMusical" asp-action="Index">Voltar</a>
                <input class="btn btn-primary col-lg-2 mt-3 ml-3" type="submit" value="Adicionar" />
            </div>
        </div>
    </form>
</div>

<partial name="_TabelaMovimentacao" model="@Model.Movimentacoes">

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}