@model X.PagedList.IPagedList<Core.DTO.MovimentacaoFigurinoDTO>
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@{
    int idFigurino = 0; // Variável temporária
}

<div class="table-responsive">
    <table class="table mt-3">
        <thead>
            <tr class="bg-danger bg-opacity-75 text-white">
                <th>
                    @Html.DisplayName("Cpf")
                </th>
                <th>
                    @Html.DisplayName("Nome Associado")
                </th>
                <th>
                    <a asp-action="Movimentar" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayName("Data")</a>
                </th>
                <th>
                    @Html.DisplayName("Tamanho")
                </th>
                <th>
                    <a asp-action="Movimentar" asp-route-sortOrder="@ViewData["MovimentacaoSort"]">@Html.DisplayName("Movimentação")</a>
                </th>
                <th>
                    <label>Quantidade</label>
                </th>
                <th>
                    <label>Status</label>
                </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                idFigurino = item.IdFigurino;
                <tr class="border-bottom border-danger border-opacity-75 align-middle">
                    <td>
                        @item.Cpf
                    </td>
                    <td>
                        @item.NomeAssociado
                    </td>
                    <td>
                        @item.Data.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.Tamanho
                    </td>
                    <td>
                        @item.Movimentacao
                    </td>
                    <td>
                        @item.QuantidadeEntregue
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td class="py-3 border-0 d-flex flex-column flex-lg-row gap-3">
                        <form id="@(item.Id + "_notificar")" asp-controller="" asp-action="" asp-route-Id="@item.Id" asp-route-IdInstrumento="" method="post">
                            <a role="button" class="btn btn-sm btn-secondary"
                           data-bs-toggle="modal" data-bs-target="#notificarMovimentacaoModal"
                           onclick="showModal('@(item.Id + "_notificar")', 'notificarMovimentacaoModal')">
                                <i class="fa-solid fa-envelope"></i>
                                Notificar
                            </a>
                        </form>
                        <form id="@(item.Id + "_delete")" asp-controller="Figurino" asp-action="DeleteMovimento" asp-route-Id="@item.Id" asp-route-idFigurino="@item.IdFigurino" method="post">
                            <a role="button" class="btn btn-sm btn-secondary"
                           data-bs-toggle="modal" data-bs-target="#excluirMovimentacaoModal"
                           onclick="showModal('@(item.Id + "_delete")', 'excluirMovimentacaoModal')">
                                <i class="fa-solid fa-xmark"> </i>
                                Excluir
                            </a>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Movimentar", new { id = idFigurino, page = page, sortOrder = ViewData["CurrentSort"], currentFilter = ViewData["CurrentFilter"]  }), new X.PagedList.Web.Common.PagedListRenderOptions
    {
    PageCountAndCurrentLocationFormat = "Página {0} de {1}",
    ContainerDivClasses = new[] { "navigation","d-flex","justify-content-center"},
    PageClasses = new[] { "page-link", },
    ActiveLiElementClass = "active",
    DisplayPageCountAndCurrentLocation = true,
    LinkToPreviousPageFormat = "<<",
    LinkToNextPageFormat = ">>",
    LiElementClasses = new[] { "page-item","d-flex","align-items-center", "p" },
    })
    
    @if (!Model.Any())
    {
        <p class="text-center mt-4 mb-0">Desculpe, nenhuma movimentação encontrada :(</p>
    }
</div>

<div class="modal fade" id="excluirMovimentacaoModal" tabindex="-1" aria-labelledby="excluirMovimentacaoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="excluirMovimentacaoLabel">Excluir Movimentação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja <b>Excluir</b> essa <b>Movimentação</b>?
            </div>
            <form method="post" class="modal-footer">
                <button type="button" class="btn btn-outline-secondary col-3 me-4" data-bs-dismiss="modal">Não</button>
                <button type="submit" class="btn btn-secondary col-3">Sim</button>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="notificarMovimentacaoModal" tabindex="-1" aria-labelledby="notificarMovimentacaoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notificarMovimentacaoLabel">Notificar Movimentação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja <b>Notificar</b> o <b>Associado</b> da necessidade de <b>Confirmação</b>?
            </div>
            <form method="post" class="modal-footer">
                <button type="button" class="btn btn-outline-secondary col-3 me-4" data-bs-dismiss="modal">Não</button>
                <button type="submit" class="btn btn-secondary col-3">Sim</button>
            </form>
        </div>
    </div>
</div>
