@model IEnumerable<Core.DTO.MovimentacaoAssociadoFigurinoDTO.MovimentacaoAssociadoFigurino>

<table>
    <thead>
        <tr>
            <th>Data</th>
            <th>Nome do Figurino</th>
            <th>Tamanho</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movimentacao in Model)
        {
            <tr>
                <td>@movimentacao.Data</td>
                <td>@movimentacao.NomeFigurino</td>
                <td>@movimentacao.Tamanho</td>
                <td>@movimentacao.Status</td>
                @if (@movimentacao.Status.Equals("Agurdando Confirmação")){
                    <td class="py-3 border-0 d-flex flex-column flex-lg-row gap-3">
                        <form id="@(movimentacao.Id + "_confirmar")" asp-controller="Figurino" asp-action="ConfirmarMovimentacao" asp-route-idMovimentacao="@movimentacao.Id" method="post">
                            <a role="button" class="btn btn-sm btn-secondary"
                           data-bs-toggle="modal" data-bs-target="#associadoEntregueModal"
                           onclick="showModal('@(movimentacao.Id + "_confirmar")', 'associadoEntregueModal')">
                                <i class="fa-solid fa-check"></i>
                                Confirmar
                            </a>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
      @if (!Model.Any())
    {
        <p class="text-center mt-4 mb-0">Desculpe, nenhuma <b>Entregar</b> encontrada :(</p>
    }
</table>
<div class="modal fade" id="associadoEntregueModal" tabindex="-1" aria-labelledby="associadoDevolucaoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="associadoEntregueLabel">Confirmar Devolução</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja <b>Confirmar</b> essa <b>Entrega?</b>
            </div>
            <form method="post" class="modal-footer">
                <button type="button" class="btn btn-outline-secondary col-3 me-4" data-bs-dismiss="modal">Não</button>
                <button type="submit" class="btn btn-secondary col-3">Sim</button>
            </form>
        </div>
    </div>
</div>
