@model IEnumerable<Core.DTO.FigurinoDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdFigurino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdManequim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdGrupoMusical)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeDisponivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeEntregue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdFigurino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdManequim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGrupoMusical)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeDisponivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeEntregue)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
